<section>
    <header>
        <button ng-click="go('list')">back</button>
        <button ng-click="edit()">edit</button>
        <button ng-click="delete()">delete</button>
    </header>

    <article>
        <div>
            <div>
                <form name="editForm" ng-submit="save()" novalidate>

                    <label>Name</label><br>
                    {{credential.name}}

                    <br>

                    <label>Login</label><br>
                    {{credential.login}}

                    <br>

                    <label>Password</label><br>
                    {{credential.password}}

                    <br>

                    <label>Group</label><br>
                    {{credential.groupname}}

                    <br>

                    <label>Favorite</label><br>
                    {{credential.isfavorite}}

                </form>
            </div>
        </div>
    </article>
</section>