<section>
    <header>
        <a href="javascript:" class="right icon-th-large" ng-click="logout()"></a>
    </header>

    <article>
        <ul>
            <li ng-repeat="group in groups">
                <h2>{{group.name}}</h2>
                <a ng-repeat="credential in group.credentials" href="#/credential/{{credential.Id}}">
                    <b>{{credential.Name}}</b>
                    <small>{{credential.Login}}</small>
                </a>
            </li>
        </ul>
    </article>
</section>