<section>
    <header>
        <button ng-click="go('credential/new')">new</button>
        <button ng-click="refresh()">refresh</button>
        <button ng-click="logout()">logout</button>
    </header>

    <article>
        <ul>
            <li ng-repeat="group in groups">
                <h2>{{group.name}}</h2>
                <a ng-repeat="credential in group.credentials" href="#/credential/{{credential.id}}">
                    <b>{{credential.name}}</b>
                    <small>{{credential.login}}</small>
                </a>
            </li>
        </ul>
    </article>
</section>